<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
<div class="supp"><br><br><br>
    <h5>Get Support</h5><hr><br>
    <h1>Get the help you need.</h1><br>
    <h5>Give us a few details and we’ll offer the best solution. <br> Connect by phone, chat, email, and more.</h5>
    <img src="{{banner}}" alt="Banner">
</div>
<div class="text">
    <h2>Tell us what's happening</h2>
    <input type="text" placeholder="Example: I forgot my Apple ID password"><br>
</div>
<div class="icon">
    <table>
        <tr>
            <td>
                <img src="{{icon2}}" alt="View"><br><br>
                <h4>See all products</h4>
                <p>Sign in with your Apple ID for personalized <br> support and to see repair coverage.</p>
                <a routerLink= "../products" href="#">View ></a>
            </td>
            <td>
                <img src="{{icon1}}" alt="See"><br><br>
                <h4>View Product Details</h4>
                <p>You can also get started by choosing a product <br> and finding your issue.</p>
                <a routerLink= "../product-details" href="#">Choose a product ></a>
            </td>
        </tr>
    </table>
</div>
<br><br><br>
