<!--Directives-->
<br>
<div class="title"></div>
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
        Below are our Corporate Partners</h1>
    
    <table class="table table-bordered table-striped" style="width: 90%; margin-right: auto; margin-left: auto;">
        <thead>
            <tr>
              <th scope="col" style="width: 15%;">Company</th>
              <th scope="col" style="width: 30%;">Trademark</th>
              <th scope="col">Sponsorship</th>
              <th scope="col">Go to Website</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let i of partners">
              <td>{{i.company}}</td>
              <td><img id="icon" [src]="i.trademark"/> </td>
              <td> {{i.sponsorship}} </td>
              <td> <a [href]="i.website"> View Website </a></td>
            </tr>
          </tbody>
        </table>