<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        </style>
    <body>
        <div class="ip13"><br><br><br>
            <h1>iPhone 13 Pro</h1>
            <h3>Oh. So. Pro.</h3><br>
            <h5><a href="#">Learn more ></a></h5>
        </div>
        <div class="buy"><h5><a href="#">Buy ></a></h5> </div>
        <div class="iphone13">
            <img src="{{ip13A}}" alt="iPhone13">
        </div>
        <div class="ip13B"><img src="{{ip13B}}" alt="iPhone13"></div>
        <div class="ip13Btxt"><br><br>
            <h1>iPhone 13</h1>
            <h3>Your new superpower.</h3><br>
            <h5><a href="#">Learn more ></a></h5></div><br>
        <div class="buy2"><h5><a href="#">Buy ></a></h5></div>
    </body>
</html>
