<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
</style>
<br><br><br>
<div class="notebook"><br>
    <h1>Which Mac is right for you?</h1>
    <table>
        <tr>
            <td>
                <img src="{{macbook1}}" alt="Macbook Air"><h4>MacBook Air</h4>
                <p>SHL0001 <br> From ₱54,990</p>
                <div class="btn1"><button type="button"style= "font-family: poppins;">Buy</button>
                    <h6><a href="#">Learn more ></a></h6></div>
            </td>
            <td>
                <img src="{{macbook2}}" alt="Macbook Air"><h4>MacBook Pro 13”</h4>
                <p>SHL0002 <br> From ₱71,990</p>
                <div class="btn2"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6></div>
            </td>
            <td>
                <img src="{{macbook3}}" alt="Macbook Air"><h4>MacBook Pro 14” and 16”</h4>
                <p>SHL0003 <br> From ₱116,990</p>
                <div class="btn3"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6></div>
            </td>
        </tr>
    </table>
</div>
<div class="desktop">
    <table>
        <tr>
            <td>
                <img src="{{imac1}}" alt="Macbook Air"><h4>iMac 24”</h4>
                <p>SHL0004 <br> From ₱73,990</p>
                <div class="btn5"><button type="button"style= "font-family: poppins;">Buy</button><br>
                <h6><a href="#">Learn more ></a></h6></div>
            </td>
            <td>   
                <img src="{{imac2}}" alt="Macbook Air"><h4>iMac 27”</h4>
                <p>SHL0005 <br> From ₱105,990</p>
                <div class="btn4"><button type="button"style= "font-family: poppins;">Buy</button><br>
                 <h6><a href="#">Learn more ></a></h6></div>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="iphone"><br>
    <h1>Which iPhone is right for you?</h1>
    <table>
        <tr>
            <td>
                <img src="{{ip13pro}}" alt="iPhone 13 Pro"><h4>iPhone 13 Pro</h4>
                <h5>The ultimate iPhone.</h5>
                <p>SHL0006 <br> From ₱63,990</p>
                <div class="btn6"><button type="button"style= "font-family: poppins;">Buy</button>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div>
            </td>
            <td>
                <img src="{{ip13}}" alt="iPhone 13"><h4>iPhone 13</h4>
                <h5>A total powerhouse.</h5>
                <p>SHL0007 <br> From ₱44,990</p>
                <div class="btn7"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div>
            </td>
            <td>
                <img src="{{ip12}}" alt="iPhone 12"><h4>iPhone 12</h4>
                <h5>As amazing as ever.</h5>
                <p>SHL0008 <br> From ₱38,9900</p>
                <div class="btn8"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div>
            </td>
            <td>
                <img src="{{ipSE}}" alt="iPhone SE"><h4>iPhone SE</h4>
                <h5>Lots to love. <br> Less to spend.</h5>
                <p>SHL0008 <br> From ₱26,490</p>
                <div class="btn9"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><hr></div>
            </td>
        </tr>
    </table>
</div>
<div class="ipad"><br>
    <h1>Which iPad is right for you?</h1>
    <table>
        <tr>
            <td>
                <img src="{{pro}}" alt="iPad Pro"><h4>iPad Pro</h4>
                <h5>The ultimate iPad <br> experience.</h5>
                <p>SHL00010 <br> From ₱45,990</p>
                <div class="btn6"><button type="button"style= "font-family: poppins;">Buy</button>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{air}}" alt="iPad Air"><h4>iPad Air</h4>
                <h5>Powerful. Colorful. <br> Wonderful.</h5>
                <p>SHL00011 <br> From ₱33,990</p>
                <div class="btn7"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{ipad}}" alt="iPad"><h4>iPad</h4>
                <h5>Delightfully capable. <br> Surprisingly affordable.</h5>
                <p>SHL00012 <br> From ₱19,990</p>
                <div class="btn8"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{mini}}" alt="iPad Mini"><h4>iPad Mini</h4>
                <h5>Mega power. <br> Mini sized.</h5>
                <p>SHL00013 <br> From ₱29,990</p>
                <div class="btn9"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6></div>
            </td>
        </tr>
    </table><hr>
</div>
<div class="appwatch"><br><br>
    <h1>Which Apple Watch is right for you?</h1>
    <table>
        <tr>
            <td>
                <img src="{{app7}}" alt="AppWatchS7"><h4>Apple Watch Series 7</h4>
                <p>SHL00014 <br> From ₱22,990 </p>
                <div class="btn14"><button type="button"style= "font-family: poppins;">Buy</button>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div>
            </td>
            <td>
                <img src="{{appSE}}" alt="AppWatchSE"><h4>Apple Watch SE</h4>
                <p>SHL00015 <br> From ₱15,990</p>
                <div class="btn15"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div>
            </td>
            <td>
                <img src="{{app3}}" alt="AppWatchS3"><h4>Apple Watch Series 3</h4>
                <p>SHL00016 <br> From ₱11,490</p>
                <div class="btn16"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br><hr></div></td>
        </tr>
    </table>
</div>
<div class="airpods">
    <h1>Which AirPods are right for you?</h1>
    <table>
        <tr>
            <td>
                <img src="{{secgen}}" alt="AirPods 2nd"><h4>AirPods</h4>
                <p>2nd generation <br><br> SHL00017 <br> ₱7,690 </p>
                <div class="btn17"><button type="button"style= "font-family: poppins;">Buy</button>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{thirdgen}}" alt="AirPods 3rd"><h4>AirPods</h4>
                <p>3rd generation <br><br>SHL00018 <br> ₱10,990</p>
                <div class="btn18"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{apro}}" alt="AirPods Pro"><h4>AirPods Pro</h4>
                <p> <br><br> SHL00019 <br> ₱14,990</p>
                <div class="btn19"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
            <td>
                <img src="{{amax}}" alt="AirPods Max"><h4>AirPods Max</h4>
                <p> <br><br> SHL00020 <br> ₱32,990</p>
                <div class="btn20"><button type="button"style= "font-family: poppins;">Buy</button><br>
                    <h6><a href="#">Learn more ></a></h6><br></div>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="head">
    <img src="{{blogo}}" alt="logo"><br><br>
    <h1>A higher definition of home <br> entertainment.</h1><br>
    <h5>SHL00021</h5><br>
    <h5>Starting at ₱10,990</h5>
    <div class="btn21"><button type="button"style= "font-family: poppins;">Buy</button><br>
</div>
<div class="tv">
    <img src="{{tv}}" alt="TV">
</div>


    