<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
        </style>
    <body style="background-color: black; height: 100vh;">
        <div class="about"><br><br><br>
            <h1>The power of Apple. <br> Put to work.</h1>
            <h3>When the world changes, business changes too. <br> Apple hardware, software, and services work together <br> to give your employees the power and flexibility to do <br> whatever needs doing — wherever that may be.</h3><br>
        </div>
    </body>
</html>
