<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
<body style="background-color: black; height: 100vh; overflow: hidden;"> 
    <img src="{{logo}}" alt="Apple Logo">
    <div class="error"><br><br><br>
        <h2>ERROR 404</h2>
        <h1>Page not found!</h1><br><br>
        <h4> There's nothing to see here. The page you are looking for does not exist. <br> Please go back to the Home page. See you!</h4>
    </div>
</body>
